#root { 
  text-align: center;
}

#loginContainer{
  display: flex;
  flex-direction: column;
  width: 28em;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.45);
  transition: height 0.5s ease-in-out;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

#loginContainer.closing {
  height: 0;
}


.loginInput {
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  height: 3em;
}
#inputLabel {
  text-align: left;
}
#inputContainer {
  display: flex;
  flex-direction: column;
  width: 23em;
}

#loginButton {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3fa53cd5;
  cursor: pointer;
  transition: background-color 0.25s;
  border-color: #3fa53cd5;
}
#loginButton:hover {
  background-color: #2bb126d5;
}
#loginButton:focus,
#loginButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#mainTable {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 80em;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

#mainTable td, #mainTable th {
  text-align: center;
  padding: 8px;
}

#mainTable td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

#mainTable thead th {
  color: #ffffff;
  background: #4FC3A1;
}


#mainTable thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

#mainTable tr:nth-child(even) {
  background: #F8F8F8;
}

#tableContainer{
  margin: 10px 70px 70px;
  /* box-shadow: 0px 1px 50px rgba( 0, 0, 0, 0.1 ); */
}
#mainHeader {
  position: relative;
}
